/* General */
html{
    background: #eee;
}
body{
    font-family: 'Quicksand', 'Times New Roman', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    max-width: 1500px;
    background: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
hr{
    width: 100%;
    opacity: 0.6;
    color: lightgray;
}

/* header */

header{
    background: slategray;
    padding: 1.5rem;
    height: 100vh;
}
nav ul{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
nav li{
    margin: 0 1rem;
}
nav li:hover{
    /* transform: translateY(10px) scaleX(0.6) scaleY(0.8);
    filter: blur(10px) */
    color: thistle;
}
header h1{
    font-size: 5rem;
}
header p{
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
}
.rotate{
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.6;
}
.me{
    display: inline;
    height: 75px;
}

/*parallax*/
.parallax{
    background-image: url('economics.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
}
.parallax ul{
    font-size: 1.8rem;
    padding: 1rem;
}
.parallax h6{
    font-size: 1.9rem;
}
.parallax h4{
    font-size: 2.0rem;
}
.parallax li{
    margin: 2rem 0;
}
.parallax div{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(119, 136, 153,0.6);
    /* padding-top: 1rem; */
}
.parallax div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* new_parallax */
.new_parallax{
    background-image: url('data.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
}
.new_parallax ul{
    font-size: 1.8rem;
    padding: 1rem;
}
.new_parallax h6{
    font-size: 1.9rem;
}
.new_parallax h4{
    font-size: 2.0rem;
}
.new_parallax li{
    margin: 2rem 0;
}
.new_parallax div{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(119, 136, 153,0.6);
    /* padding-top: 1rem; */
}
.new_parallax div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Recent work */
.recent_work{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 1rem 0;
}
.recent_work_title{
    font-size: 1.6rem;
}
.recent_work_info{
    padding: 1rem;
}
.recent_work_info h4{
    font-size: 1.4rem;
}
.features li{
    margin: 1.1rem 0;
}
.recent_work_image figure figcaption{
    margin: 1rem;
    padding: 1rem;
}

/* Contact */
#contact{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    background-color: rgb(115, 197, 248);
    color: white;
}
.contact_head{
    margin: 0;
    font-size: 5rem;
}
.contact_text{
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
#contact .rotate{
    display: none;
}
.btn{
    width: 313px;
    height: 60px;
    font-size: 1.1rem;
    cursor: pointer;
    background: rgba(93, 238, 238, 0.918);
    color: white;
    border: none;
    border-radius: 50px;
    transition: all .4s;
    margin: 0.5rem;
    text-align: center;
    justify-content: center;
}
.btn:hover{
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 8px 0 -3px #f85959,
                0 17px 0 -6px #39a2db,
                0 16px 0 -5px #39a2db;
}
/* Animation */
.fade{
    opacity: 0;
    animation: fade ease-in-out;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
}
.delay1{
    animation-delay: 0.5s;
}
.delay2{
    animation-delay: 1.5s;
}
@keyframes fade
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

/* Projects page */
.projects_title{
    font-size: 1.6rem;
}
.hidden{
    display: none;
}
/* #work1{
    grid-area: work1;
}
#work2{
    grid-area: work2;
}
#work3{
    grid-area: work3;
}
#work4{
    grid-area: work4;
}
#work5{
    grid-area: work5;
} */
.projects{
    display: flex;
    flex-direction: column;
}
.grid_item{
    margin-bottom: 1rem;
    padding: 1rem;
    background: lightslategray;
    position: relative;
}
.grid_item img{
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}
.grid_item:hover > .hidden{
    display: block;
    text-align: center;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.grid_item:hover > .hidden_mobile{
    display: block;
    text-align: center;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.grid_item:hover img{
    filter: brightness(0.4);
    transform: scale(1.1);
    opacity: 0.95;
}

/* Computer screen */
@media screen and (min-width: 9.0in){
    nav ul{
        justify-content: flex-end;
    }
    .rotate{
        margin: 2rem 0 0 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 2.5rem;
    }
    header{
        height: 100%
    }
    .recent_work{
        flex-direction: row;
    }
    .recent_work_info{
        flex:1;
        padding: 1rem;
    }
    .recent_work_image{
        flex: 2;
        border: lightslategray 1rem solid;
    }
    .recent_work_image img{
        width: 100%;
        height: 100%;
    }
    .move-right{
        order: 1;
    }
    .contact_head{
        margin: 0;
        font-size: 8rem;
    }
    #contact .rotate{
        display: block;
    }
    #contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .projects{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .grid_item{
        flex-basis: 45%;
    }
    .me{
        margin-left: 10rem;
        height: 500px;
    }
    .hidden_mobile{
        display: none;
    }
}
@media (min-width: 1000px){
    .projects{
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        /* grid-template-areas: 
        "work1 work2 work3"
        "work4 work5"; */
    }
    .grid_item{
        margin-bottom: 0;
    }
}
